
<div class = "col-sm-4 container">
	<div class = "row">
		<div class ="col-sm-12 full-size-photo">
			<img class='photo-extend' ng-src={{posting.photos[0]}}></img>
		</div>
	</div>
	<div class = "row">
		<div class ="col-sm-12">
			<h3><a ui-sref="detailedPosting({postingId: posting._id})">{{posting.title}}</a></h3>
		</div>
	</div>
	<div class = "row">
		<div class ="col-sm-12">
				<p>Client: <a ui-sref="userPage({userId:posting.client._id})">{{posting.client.displayName}}</a></p>
		</div>
	</div>
	<div class = "row">
		<div class ="col-sm-12">
			<p>Tags: <tag-links tags-array="posting.tags" url="'/postings?search='" delim="', '"></tag-links></p>
		</div>
	</div>
	<div class = "row col-sm-12">
		<div class="col-sm-6">
			<i class="fa fa-lg fa-times-circle-o text-danger" ng-click="confirmDelete(posting, artist._id, type)">Remove</i>
		</div>
		<div ng-show="type==='saved'" class="col-sm-6">
			<i class="fa fa-lg fa-times-circle-o text-success" ng-click="request()">Request</i>
		</div>
	</div>
	<div class="clearfix"></div>
</div>
