<div class="form-group col-md-8 col-sm-12">

  <label class="col-sm-4 control-label">Start: </label>
  <div class="col-sm-6">
      <div class="input-group">
          <input type="text" datepicker-popup="{{format}}" ng-model="createdPromo.start" is-open="startOpened" min="minStartDate" max="maxStartDate" datepicker-options="dateOptions" close-text="Close" class="form-control"/>
          <span class="input-group-btn">

            <button class="btn" ng-click="openStart()"><i class="fa fa-calendar"></i></button>
          </span>
      </div>
  </div>

</div>

<div class="form-group col-md-8 col-sm-12">

  <label class="col-sm-4 control-label">End: </label>

  <div class="col-sm-6">
      <div class="input-group">
          <input type="text" datepicker-popup="{{format}}" ng-model="createdPromo.end" is-open="endOpened" min="minEndDate" max="maxEndDate" datepicker-options="dateOptions" close-text="Close" class="form-control"/>
           <span class="input-group-btn">
            <button class="btn" ng-click="openEnd();"><i class="fa fa-calendar"></i></button>
          </span>
      </div>
  </div>
</div>