<div class='panel'>
<h4>Start</h4>
  <div class="form-horizontal">
      <p>
          <input type="text" datepicker-popup="{{format}}" ng-model="createdPromo.start" is-open="startOpened" min="minStartDate" max="maxStartDate" datepicker-options="dateOptions" close-text="Close" />
          <button class="btn" ng-click="openStart()"><i class="fa fa-calendar"></i></button>
      </p>
  </div>
  <h4>End</h4>
  <div class="form-horizontal">
      <p>
          <input type="text" datepicker-popup="{{format}}" ng-model="createdPromo.end" is-open="endOpened" min="minEndDate" max="maxEndDate" datepicker-options="dateOptions" close-text="Close" />
          <button class="btn" ng-click="openEnd();"><i class="fa fa-calendar"></i></button>
      </p>
  </div>
</div>
