<nav class="navbar navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <logo></logo>
        </div>
        <form role="form" class="form-inline">
          <input type="text" class="form-control" ng-model="searchTerms">
          <div class="btn btn-default" ui-sref='allPostings({search:searchTerms})' ui-sref-opts="{reload: true}">Search</div>
        </form>
        <ul class="nav navbar-nav">
            <li ng-repeat="item in items" ng-show="!item.auth || isLoggedIn()">
                <a ui-sref-active="active" ui-sref="{{ item.state }}">{{ item.label }}</a>
            </li>
        </ul>

        <fb ng-show="!user" class="pull-right"></fb>

        <div ng-show="user" class="welcome">
            <span>Welcome, {{ user.displayName }}!</span>
            <a ng-click="logout()">Logout</a>
        </div>
    </div>
</nav>
