<div class = "container panel">
  <div class = "row">
    <div class = "col-sm-12">
      <div class="container">
        <div class="row">
          <h2>Projects that Need Artists</h2>
          <unassigned-jobs ng-repeat='project in unassignedPostings' project='project'></unassigned-jobs>
          <div ng-hide="unassignedPostings.length !== 0">
            <p>No pending projects</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class = "container panel">
  <div class = "row">
    <div class = "col-sm-12">
      <div class = "row">
        <div class = "col-sm-12">
          <div class = "row">
            <div class = "col-sm-12">
              <h2>Current Projects</h2>
            </div>
          </div>
          <client-active-job ng-repeat="job in activeClientJobs" ></client-active-job>
          <div class = "row">
            <div class = "col-sm-12">
              <div ng-hide="activeClientJobs.length !== 0">
                <h2>No active projects</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class = "container panel">
  <div class = "row">
   <div class = "col-sm-12">
     <div class = "row">
       <div class = "col-sm-12">
         <h2>Completed Projects</h2>
         <div ng-hide="doneProjects.length !== 0">
           <h2>No completed projects</h2>
         </div>
       </div>
     </div>
     <div class = "row">
       <artist-complete ng-repeat='done in completeClientPostings' done='done'></artist-complete>
    </div>
   </div>
  </div>
 </div>
