<div class='panel-body col-md-4 col-sm-12' ng-repeat='promo in promos track by $index'>
  <p><b>Promo code:</b> {{promo.code}}<p>
  <p><b>Start Date:</b> {{promo.start | date: 'medium'}}</p>
  <p><b>Expiration Date:</b> {{promo.end || 'none' | date: medium}}</p>
  <p><b>Artists activated for:</b>
   	<p ng-repeat="user in allUsers track by $index" class="col-md-offset-1">{{user}}</p>
  </p>
  <p><b>Percent discount {{promo.discount}}</b></p>
  <div class="col-sm-12 form-group">
    <button class="btn btn-danger btn-block" ng-click="deletePromo(promo._id)">Delete Promo</button>
  </div>

</div>
