<div class = "col-sm-4">
		<div class="row">
			<div class = "col-sm-12 full-size-photo img-rounded">

				<img ng-src={{posting.photos[0]}} class="photo" />
			</div>
		</div>
		<div class="row">
			<div class="project_info col-sm-12">
				<i ng-show="currentUser.isAdmin && !editing" class="fa fa-3x fa-pencil-square pull-right" ng-click="toggleEditing()"></i>
				<i class="fa fa-2x fa-floppy-o pull-right" ng-show="editing" ng-click="toggleEditing()"></i>

				<h3><a ui-sref="detailedPosting({postingId: posting._id})">{{posting.title}}</a></h3>
				<p><span class="bold">Client: </span><user-page-link user="posting.client"></user-page-link></p>
				<p ng-show="currentUser.isAdmin"><span class="bold">Artist: </span>{{posting.artist.displayName || 'unassigned'}}</p>
				<p ng-show="currentUser.isAdmin">
					<span class="bold"> Status: </span>

					<span ng-hide="editing">{{newStatus.show}}</span>
					<select ng-show="editing" ng-change="changed=true" class="form-control" ng-init="newStatus = statuses[0]" ng-model="newStatus" ng-options="status.show for status in statuses">
					</select>
				</p>

				<p><span class="bold">Description: </span>{{posting.description}}</p>
				<p><span class="bold">Posted on: </span>{{posting.date | date: 'short'}}</p>
				<p><b>Tags: </b>
					<tag-links tags-array="posting.tags" url="'/postings?search='" delim="', '"></tag-links>
				</p>
			</div>
		</div>
</div>
