<div class = "col-sm-4">
		<div class="row">
			<div class = "col-sm-12">
				<img ng-src={{posting.photos[0]}} class="img-rounded photo" />
			</div>
		</div>
		<div class="row">
			<div class="project_info col-sm-12">
				<i ng-show="currentUser.isAdmin && !editing" class="fa fa-3x fa-pencil-square pull-right" ng-click="toggleEditing()"></i>
				<i class="fa fa-2x fa-floppy-o pull-right" ng-show="editing" ng-click="toggleEditing()"></i>

				<h3><a ui-sref="detailedPosting({postingId: posting._id})">{{posting.title}}</a></h3>
				<p><span class="bold">Posted by: </span><a ui-sref="userPage({userId: posting.client._id})">{{posting.client.displayName}}</a></p>
				<p ng-show="currentUser.isAdmin"><span class="bold">Artist: </span>{{posting.artist.displayName || 'unassigned'}}</p>
				<p ng-show="currentUser.isAdmin">
					<span class="bold"> Status: </span>

					<span ng-hide="editing">{{newStatus.show}}</span>
					<select ng-show="editing" ng-change="changed=true" class="form-control" ng-init="newStatus = statuses[0]" ng-model="newStatus" ng-options="status.show for status in statuses">
					</select>
				</p>

				<p>{{posting.description}}</p>
				<p>{{posting.date | date: 'short'}}</p>
				<p>{{posting.tags}}</p>
			</div>

</div>
