

posting {
	.jobPosting{
		clear:both;
		padding:1%;

		photo, .project_info{
			vertical-align:text-top;
		}

		.project_info{
			padding-left:1%;
			h3{
				padding-top:1%;
				margin-top:1%;
			}
		}
		.photo-thumbnail{
			width:100%;
		}
	}
}
