

posting {
	.jobPosting{
		clear:both;
		padding:1%;

		photo, .project_info{
			vertical-align:text-top;
		}

		.project_info{
			padding-left:1%;
			h3{
				padding-top:1%;
				margin-top:1%;
			}
		}
		.photo-thumbnail{
			width:100%;
		}
	}
}

.rating {
	span.star:hover:before, span.star:hover ~ span.star:before {
	  content: "\f005";
	  color: #e3cf7a;
	}

	span.star:hover {
	  cursor: pointer;
	}

	

}

.star, .clickedStar {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
}

.star:before {
  content: "\f006";
  padding-right: 5px;
  color: #777777;
}

.clickedStar:before, span.clickedStar ~ span.star:before {
  content: "\f005";
  color: #e3cf7a;
}

.already-set-rating, .rating{
  unicode-bidi: bidi-override;
  font-size: x-large;
}

