<div class="col-sm-12">
  <div class="row">
    <div class="col-sm-12">
      <h2>{{user.displayName}}'s Profile</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-1 col-sm-offset-11">
      <i class="fa fa-3x fa-pencil-square" ng-hide="editing" ng-click="toggleEditing()"></i>
      <i class="fa fa-3x fa-pencil-square" style="visibility:hidden;" ng-show="editing"></i>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div ng-hide="editing">
        <div class="full-size-photo">
          <img class="photo" ng-src={{user.photoUrl}}></img>
        </div>
        <p><b>Name: </b><span>{{user.displayName}}</span><p>
        <p><b>Bio: </b><span>{{user.bio}}</span><p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <form ng-show="editing" role="form">
        <div class="form-group">
          <div class="full-size-photo">
            <img class="photo" ng-src={{user.photoUrl}}></img>
          </div>
          <label for="photoUrl">Photo URL:</label>
          <input type="text" class="form-control" id="photoUrl" ng-model="user.photoUrl">
        </div>
        <div class="form-group form-inline">
          <label for="name">Name:</label>
          <input type="text" class="form-control" id="name" ng-model="user.displayName">
        </div>
        <div class="form-group">
          <label for="bio">Bio:</label>
          <textarea class="form-control" rows="4" id="bio" ng-model="user.bio"></textarea>
        </div>
        <div class="form-group">
          <div class="btn btn-default" type="submit" ng-show="editing" ng-click='saveProfile(); toggleEditing()'>Save <i class="fa fa-2x fa-floppy-o"></i></div>
          <div class="btn btn-default" ng-show="editing" ng-click='restoreValuesToSaved(); toggleEditing()'>Cancel Editing</i></div>
        </div>
      </form>
  </div>
  </div>
  </div>
</div>
