navbar {

  display: block;

  background: url('/js/common/directives/navbar/michelangelo-hands.jpg');
  background-size:cover;
  background-position:center center;
  background-repeat:no-repeat;
  background-opacity:0.5;
  border-bottom: 1px solid black;
  box-shadow: 1px 1px 14px -3px black;

  .container {
    width: 91%;
    max-width: 1340px;
    padding-top: 20px;
  }



  fullstack-logo {
    margin-top: 5px;
    margin-right: 20px;
    width: 40px;
  }

  a {
    color:white;
    text-shadow: 2px 2px black;

    font-size: 16px;
  }

  .nav > li > a {
    font-weight:bold;
    cursor: pointer;
    transition: color 0.2s;
    &.active {
      color: black;
      text-shadow: 2px 2px white;

    }
    &:hover {
      background: none;
      color: black;
      text-shadow: 1px 1px white;
    }
    &:focus {
      background: none;
    }
  }

  .login-button {
    float: right;
    border: 1px solid black;
    margin-top: 10px;
    background: none;
    outline: none !important;
  }

  .welcome {
    float: right;
    margin-top: 12px;
    span {
      color: white;
    }
    a {
      color: black;
      cursor: pointer;

      &:hover{
        color:white;
      }
    }
  }

}
