<div class="btn-group">
    <button type="button" class="btn dropdown-toggle sistine-green" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Login <span class="caret"></span>
    </button>

    <div class="dropdown-menu col-sm-12" ng-click="$event.stopPropogation()">
      <form id="login-form" name="loginForm" ng-submit="loginForm.$valid && sendLogin(login)" class="col-sm-12">

        <alert type="danger" ng-show="error">
            {{ error }}
        </alert>

        <div class="form-group">
            <input type="text" ng-model="login.email" class="form-control" id="email" placeholder="Email">
        </div>
        <div class="form-group">
            <input type="password" ng-model="login.password" class="form-control" id="login-password" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-default btn-block">Submit</button>
      </form>
    </div>
</div>