
user-info{
	
	.photo{
		height:150px;
		width:150px;
		border:1px solid black;

	}

}

request{
	.request{
		width:50%;
		margin:auto;
	}
}

.bio{
	clear:both;
}

review{
	.add-background{
		background-color:gray;
	}
}