* {
  box-sizing: border-box;
}

body {
  background-color: #e4e6af;
  background-image: url(http://www.transparenttextures.com/patterns/45-degree-fabric-dark.png);
}


@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  padding-top: 60px;
  width: 100%;
  margin: 0 auto;
}

.bold{
  font-weight:bold;
}

.sistine-green{
    background-color:#ced9a1;

}

.full-size-photo{
  height:30vh;
  width:30vw;
  overflow:hidden;

}

.thumbnail-photo{
  width:8vw;
  overflow:hidden;
}

.photo{
  max-width:100%;
}

.photo:hover{
  -webkit-filter: grayscale(70%);
  filter: grayscale(70%);
}

  .btn-green{
    color:#ced9a1;
  }

.inline{
  display:inline-block;
  vertical-align:middle;
}

@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
@import 'userPage/main';
@import 'post/main';
@import 'allPosts/main';
@import 'privatePages/main';
@import 'isteven/main'
