<div class="col-sm-12">
	<div class="container padded" ng-show="posting._id">
		<div class="row">
			<button type="button" class="btn btn-info" ng-hide="editing" ng-click="toggleEditing()">Edit Post</button>
			<button type="button" class="btn btn-success" ng-show="editing" ng-click="updatePosting()">Confirm Edit</button>
			<button type="button" class="btn btn-danger" ng-show="editing" ng-click="restoreValueToBefore()">Cancel</button>
		</div>
	</div>
	<div>
		<div class="form-group clearfix">
			<h2 ng-hide="editing">{{posting.title}}</h2>
			<input type="text" class="form-control input-lg" ng-model="posting.title" value="{{posting.title}}" ng-change="change = true" ng-show="editing" />
		</div>

		<div class="form-group clearfix">
			<div class="col-sm-3">
				<label class="bold">Client:</label>
			</div>
			<div class="col-sm-9">
				<span>{{posting.client.displayName || 'unspecified'}}</span>
			</div>
		</div>

		<div class="form-group clearfix">
			<div class="col-sm-3">
				<label class="bold">Location:</label>
			</div>
			<div class="col-sm-9">
				<span ng-hide="editing">{{posting.location || 'unspecified'}}</span>
				<input class="form-control" type="text" ng-model="posting.location" value="{{posting.location}}" ng-show="editing" ng-change="change = true"/>
			</div>
		</div>
		<div class="form-group clearfix">
			<div class="col-sm-3">
				<label class="bold">Budget:</label>
			</div>
			<div class="col-sm-9">
				<span ng-hide="editing">${{posting.price}} </span>
				<div class="input-group" ng-show="editing">
				  <span class="input-group-addon">$</span>
				  <input type="number" class="form-control" name="price" ng-change="change = true" ng-model="posting.price" value="{{posting.price}}" required/>
				</div>

			</div>
		</div>
		<div class="form-group clearfix">
			<div class="col-sm-3">
				<label class="bold">Start date:</label>
			</div>

			<div class="col-sm-9">

				<span ng-hide="editing">{{posting.startDate || 'unspecified'}}</span>
				<input class="form-control" type="text" ng-model="posting.startDate" ng-change="change = true" value="{{posting.startDate}}" ng-show="editing" />
			</div>
		</div>
		<div class="form-group clearfix">
			<div class="col-sm-3">
				<label class="bold">Size:</label>
			</div>

			<div class="col-sm-9">

				<span ng-hide="editing">{{posting.size || 'unspecified'}}</span>

				<input class="form-control" type="text" ng-model="posting.size" ng-change="change = true" value="{{posting.size}}" ng-show="editing" />
			</div>
		</div>
		<div class="form-group clearfix">
			<div class="col-sm-3">
				<label class="bold">Tags:</label>
			</div>
			<div class="col-sm-9">
				<span ng-hide="editing" ng-repeat="tag in posting.tags">{{tag}} </span>
				<div id="tagsDiv" ng-show="editing">
					<input class="form-control" type="text" ng-model="showTags" ng-change="change = true" name="tags" data-role="tagsinput" ng-keypress="tagify($event)" />
				</div>
			</div>
		</div>
	</div>
</div>
