job{
	.info{
		margin-left:1%;
		vertical-align:text-top;
	};

	img, .img-thumbnail{
		height:100%;
		width:150px;
	}
}

.photo-extend {
	width: 100%;
	height: auto;
}

.under-second-nav {
	padding-top: 1.4em;
}

.second-nav {
	margin-top: -4em;
	background-color: #e4e6af;
}

.active-tab{
	color: red;
	background-color: blue;
}

.privatePageContent {
	background-color: #e4e6af;
}

potential-job-detail{
	.container{
		padding-top:1%;
		padding-bottom:1%;
	}
}
